Node Red
[{"id":"c730edde.5d963","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a24d9f47.646dc","type":"mqtt-broker","z":"","name":"FI","broker":"mqtt.fi.mdp.edu.ar","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30411340.19e30c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"27ab2a47.ccc306","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"46de9e2.6fc356","type":"ui_group","name":"Group 1","tab":"27ab2a47.ccc306","order":1,"disp":true,"width":6},{"id":"af1356a3.ad7758","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"","usetls":false,"tls":""},{"id":"2b608815.8df428","type":"function","z":"c730edde.5d963","name":"Dame Valor","func":"return { payload:msg.payload.valor };","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["9d43fddf.262d1","447bba94.41cbe4","78297efa.74482"]]},{"id":"dd851916.c9da08","type":"mqtt in","z":"c730edde.5d963","name":"","topic":"ingenieria/anexo/pasillo/gas","qos":"2","datatype":"json","broker":"a24d9f47.646dc","x":200,"y":120,"wires":[["2b608815.8df428"]]},{"id":"9d43fddf.262d1","type":"influxdb out","z":"c730edde.5d963","influxdb":"af1356a3.ad7758","name":"","measurement":"gas","precision":"","retentionPolicy":"","x":770,"y":120,"wires":[]},{"id":"85a77b73.ec6618","type":"influxdb in","z":"c730edde.5d963","influxdb":"af1356a3.ad7758","name":"","query":"select * from gas","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":260,"wires":[["4734a36e.d7193c"]]},{"id":"4734a36e.d7193c","type":"debug","z":"c730edde.5d963","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":260,"wires":[]},{"id":"b3c849c7.ce7888","type":"inject","z":"c730edde.5d963","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["85a77b73.ec6618"]]},{"id":"447bba94.41cbe4","type":"ui_chart","z":"c730edde.5d963","name":"","group":"46de9e2.6fc356","order":0,"width":0,"height":0,"label":"Gas","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":160,"wires":[[]]},{"id":"78297efa.74482","type":"ui_gauge","z":"c730edde.5d963","name":"","group":"46de9e2.6fc356","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"V","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":200,"wires":[]}] 
