Node Red
[{"id":"c730edde.5d963","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a24d9f47.646dc","type":"mqtt-broker","z":"","name":"FI","broker":"mqtt.fi.mdp.edu.ar","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30411340.19e30c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"27ab2a47.ccc306","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"46de9e2.6fc356","type":"ui_group","z":"","name":"Graficos","tab":"84d38369.eaa6b","order":1,"disp":true,"width":20,"collapse":false},{"id":"af1356a3.ad7758","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"","usetls":false,"tls":""},{"id":"2fe9356b.9c4b6a","type":"ui_group","z":"","name":"Default","tab":"27ab2a47.ccc306","disp":true,"width":"6","collapse":false},{"id":"84d38369.eaa6b","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard","disabled":false,"hidden":false},{"id":"af2e87d3.8939e8","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":1,"width":1,"height":1},{"id":"3478f444.5eff2c","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":3,"width":1,"height":1},{"id":"7ee653a.68c7aac","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":4,"width":1,"height":1},{"id":"bd448f1d.e6cac","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":5,"width":1,"height":1},{"id":"6ec82da9.566db4","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":6,"width":1,"height":1},{"id":"67ac9ac.e58ab64","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":7,"width":1,"height":1},{"id":"beb6c7ac.497918","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":8,"width":1,"height":1},{"id":"b36d8c17.904f2","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":9,"width":1,"height":1},{"id":"e007abdb.d9c598","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":10,"width":2,"height":1},{"id":"8deed3bd.7bcd2","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":12,"width":2,"height":1},{"id":"8da183c1.03f96","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":13,"width":2,"height":1},{"id":"15fc52c1.efb9bd","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":14,"width":2,"height":1},{"id":"b2f9dac6.bec178","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":15,"width":2,"height":1},{"id":"a98f8c1d.6b1fd","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":16,"width":2,"height":1},{"id":"3515f25d.923c2e","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":17,"width":2,"height":1},{"id":"d92eb08b.8fd26","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":18,"width":2,"height":1},{"id":"db47b46f.1db968","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":19,"width":2,"height":1},{"id":"43344a83.776a74","type":"ui_spacer","name":"spacer","group":"46de9e2.6fc356","order":20,"width":2,"height":1},{"id":"2b608815.8df428","type":"function","z":"c730edde.5d963","name":"Dame Valor","func":"return { payload: msg.payload.valor };","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["9d43fddf.262d1","447bba94.41cbe4","60b3c087.1e36c"]]},{"id":"dd851916.c9da08","type":"mqtt in","z":"c730edde.5d963","name":"","topic":"ingenieria/anexo/pasillo/gas","qos":"2","datatype":"json","broker":"a24d9f47.646dc","x":200,"y":120,"wires":[["2b608815.8df428"]]},{"id":"9d43fddf.262d1","type":"influxdb out","z":"c730edde.5d963","influxdb":"af1356a3.ad7758","name":"","measurement":"gas","precision":"","retentionPolicy":"","x":790,"y":80,"wires":[]},{"id":"447bba94.41cbe4","type":"ui_chart","z":"c730edde.5d963","name":"","group":"46de9e2.6fc356","order":2,"width":18,"height":4,"label":"Gas","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":120,"wires":[[]]},{"id":"78297efa.74482","type":"ui_gauge","z":"c730edde.5d963","name":"","group":"46de9e2.6fc356","order":11,"width":16,"height":5,"gtype":"gage","title":"Gas","label":"V","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":160,"wires":[]},{"id":"60b3c087.1e36c","type":"function","z":"c730edde.5d963","name":"Corta decimales","func":"var ret = parseFloat(msg.payload.toFixed(4));\nreturn { payload: ret };","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["78297efa.74482"]]}]
